:root {
    --primary: #D90D1E;
    --primary-acent: #733527;
    --primary-dark: #BF3636;
    --secondary: #4679A6;
    --black: #000;
    --white: #fff;
    --gray: #F2F2F0;
    --gray-dark: #BFBFBD;
}